<div class="card my-3" id="budget">
    <div class="card-body">
        <div class="my-3 card-text">Here is the budget provided by your supervisor. Your supervisor has arranged the grids so that
            you focus on the grids with higher penalties first. The supervisor also allocated left clicks in the last
            column based on the number of clicks it took past participants to achieve the main objective.

            You can use a total of {{ player.max_clicks}} clicks for this period which is more than the budget recommends.
        </div>
        <table class="table table-hover table-stripped">
            <thead>
            <tr>
                <th>Grid #</th>
                <th>Penalty Per Bomb</th>
                <th>Potential Financial Loss</th>
                <th>Recommended Clicks
                </th>
            </tr>
            </thead>
            <tbody>

            {% for g in player.get_reversed_grids %}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td>${{ g.penalty }}</td>
                <td>${{ g.potential_loss }}</td>
                <td>{{ g.recommended_clicks }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>