{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
   Video Walkthrough
{% endblock %}
{% block content %}
<br> <br>
<p>
Please pay close attention to the video below. You will need to refer to this video to answer some comprehension questions.
</p>
<br> <br>

<iframe width="650" height="500" src="https://www.youtube.com/embed/9TqC064umWU"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br> <br>

<p><b><u>Comprehension Question</u></b><br>
    Please answer the question correctly below to continue with the instructions.
</p> <br>

{% formfield player.q6 %}
    {% next_button %}
{% endblock %}
