{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
Main Objective
{% endblock %}
{% block content %}
<br>
<p>   Typically to win a round of Minesweeper,
    you must <i>reveal</i> every square on a <i>grid</i> that doesn't have a <i>mine</i> under it.
    Once you have uncovered each of these squares, the game ends.
    However, the main objective for this experiment is different. </p>
<br>
<p>    For the first task of the experiment, a firm is worried about the <i>bombs</i> on the <i>grids</i>,
    so a supervisor from that firm has hired you to find these <i>bombs</i> and <i>mark</i> them with a right-click.
    Each <i>bomb</i> will be assigned a financial penalty which you will incur if you are unable to <i>mark</i> that <i>bomb</i>
    by the end of the task or if you accidentally open that <i>bomb</i> with a left click.
    Some <i>grids</i> are of greater concern to the firm so the <i>bombs</i> on those <i>grids</i>
    will be assigned a higher financial penalty.

    </p>
<br>
<p>
    The firm’s objective is not for you to <i>mark</i> every single <i>bomb</i> on each <i>grid</i>, but rather that you <i>mark</i> enough
    <i>bombs</i> for each <i>grid</i> to keep their costs down. For that reason, there will be a limit to how many left-clicks
    you can use to reveal the location of <i>bombs</i> and a limit to the number of financial penalties you can receive for
    not <i>marking bombs</i> on each <i>grid.</i> You will have a max of 420 left clicks to use for the entire period.
    You are also not allowed to <i>mark</i> more squares than there are total <i>bombs</i> on the <i>grid.</i>

</p> <br>
<p> The firm can tolerate you leaving 20 percent of the total <i>bombs</i> unmarked on each <i>grid.</i>
    In other words, if you correctly mark 80 percent of the <i>bombs</i> on a <i>grid</i>,
    you will not be penalized for the remaining <i>bombs</i> on that <i>grid</i> if you decide to work on another <i>grid.</i>
    This 20 percent does not include the <i>bombs</i> you accidentally open with a left click which means you will still
    receive a penalty each time you accidentally open a <i>bomb.</i> Since there is a limit to how many left clicks you can use,
    you will most likely be unable to <i>mark</i> every <i>bomb</i> correctly and should prioritize the <i>bombs</i>
    that are assigned the highest financial penalties.  <br></p>

 <p>   <b>Thus, the stated objective for this experiment is to prioritize the grids that are of most concern to the
    firm (i.e., grids with the highest value of penalties) and mark a sufficient number of bombs within these grids
    while minimizing the number of clicks you use to find them.</b></p>
<br> <br>



     {% next_button %}
{% endblock %}

