{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Instructions
{% endblock %}
{% block content %}
<br>
<p>  <font size="3">  Thank you for your participation in this experiment.
    Before proceeding to the game portion of the study,
    you will need to answer a few questions to indicate
    you understand how the game works, so please read the following instructions carefully.    </font> </p>

<br>
<u><b>Game Overview</b></u>
<br>
<p> You have the opportunity to earn money in this experiment based on your decisions
    and the procedures described in these instructions.
    For this experiment, you will be participating in two tasks that center around a
    modified version of the computer game Minesweeper.
    Details of the game will be explained below, and you will play several practice rounds
    to become familiar with the game. </p>
<br>
<p> Each Minesweeper game starts out with a <i>grid</i> of unmarked squares (see figure 1). </p>
<br>

<img src="{% static 'Figure1.PNG' %}"/>
<br> <br>
<p>  After left-clicking one of these squares, some of the squares will disappear,
    some will remain blank, and some will have numbers on them (see figure 2). </p>
<br>

<img src="{% static 'Figure2.PNG' %}"/> <br>
<p> It is your role to use the numbers to figure out which blank squares have <i> bombs</i>
    (referred to as mines in the original version of the game).
    A number on a square refers to the number of <i>bombs</i>
    that are currently touching that square.
    For example, if there is a 1 on a square and only one square adjacent,
    you know there is a <i>bomb</i> on the adjacent square (see figure 3) </p>
<br>

<img src="{% static 'Figure3.PNG' %}"/>

<br>
<p>  However, if there is a square with the number 2, you know there must be 2 adjacent <i>bombs</i>
    as seen in figure 4. </p>
<br>

<img src="{% static 'Figure4.PNG' %}"/> <br> <br>
<p> The mouse is the only tool that you'll need to play Minesweeper.
    The left mouse button is used to <i>reveal</i> squares that don't contain <i>bombs</i>,
    while the right mouse button is used to <i>mark</i> squares that contain <i>bombs</i>.
    Incorrectly clicking a <i>bomb</i> with a left click will result in a financial penalty which will be explained later.
    Each time you <i>mark</i> a potential <i>bomb</i> with a right-click,
    a red exclamation point will appear on the square so that you can keep track of all the <i>bombs</i>
    on the <i>grid</i>. The <i>grid</i> will begin to open as you <i>reveal</i> all the
    squares without <i>bombs</i> (see figure 5). </p> <br>
<br>

<img src="{% static 'Figure5.PNG' %}"/>
<br> <br>


     {% next_button %}
{% endblock %}
