{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Payoffs and Planning
{% endblock %}
{% block content %}
<p></p><br> <u>Payoffs</u><br>
You will receive cash in U.S. dollars based on your decisions for this experiment.
Earnings are based on how well you <i>marked</i> the <i>bombs</i> of greatest concern to the firm.
<br></p>
<p>You will receive an endowment of $20 at the beginning of the experiment.
If you are unable to <i>mark</i> a <i>bomb</i> on a <i>grid</i>, you will pay a penalty of one of these values
($0.05, 0.08, 0.11, depending on the grid). Remember you do not receive a penalty for 20 percent of the <i>bombs.</i>
For example, if there were 50 <i>bombs</i> total on a <i>grid</i>, you would not receive a penalty until after failing to
    <i>mark or accidentally left-clicking the 11th <i>bomb</i> (10= 20 % * 50 <i>bombs</i>).</i></p>
<br><p>
You will also pay $0.01 for a left click to reveal a square.
There is no cost for <i>marking</i> squares with <i>bombs</i>, but you may not <i>mark</i> more squares than there are total <i>bombs</i> on the <i>grid.</i>
</p><br>

{% formfield player.a2 %}

<br>
<p>Here is an example of your payoffs: If you failed to <i>mark</i> 20 <i>bombs</i> on a <i>grid</i> that had 50 <i>bombs</i> total and a
$0.08 penalty was assigned to those <i>bombs</i>, your compensation at that point in the task would be: <br>
 $20-  ($0.08 * (20- 10) )-  (100*.01) = $18.20, if you used 100 reveal clicks. <br> <br>
Participant earnings= $20 -  ((Financial Penalty  ($0.05, 0.08, 0.11) X
(# of <i>Bombs</i> not <i>Marked</i> - 20 percent of the total <i>bombs</i> on that <i>grid</i> ) ) - ($0.01 X # of Clicks to Reveal Squares).<br>
</p><br> <br>
<p><u>Planning</u>
<br>
For this task, the max penalty you can receive for all the <i>grids</i> is $16.58.
This means you are guaranteed $3.42 ($20 endowment- Max Penalty for missing all the <i>bombs</i>) for
attempting the task and can make around $17 based on your performance.
Remember, <i>grids</i> may differ in size, number of <i>bombs</i>, and <i>bomb</i> locations.
This may cause you to use more clicks than you expected or accidentally open <i>bombs.</i>
Please keep that in mind while you play. Halfway through the first task or after the first period,
you will have some time to think about adjusting your approach for achieving the main objective.
</p> <br> <br>
<p><b><u>Comprehension Question</u></b><br>
    Please answer the question correctly below to continue with the instructions.
</p> <br>

{% formfield player.q3 %}
        {% next_button %}
{% endblock %}