{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question 7
{% endblock %}

{% block content %}


<b> Scenario A </b> <br>
Total Bombs: 30 <br>
Marked Bombs: 23 <br>
Penalty per unmarked bombs: $0.11 <br>
Recommended Budget: 60 Clicks <br>
Clicks Used to Find Bombs ($0.01): 66 Clicks <br>
Efficiency: 10 Percent <b><i>above</i></b> budget!
 <br> <br>

<b> Scenario B </b> <br>
Total Bombs: 30 <br>
Marked Bombs: 21 <br>
Penalty per unmarked bombs: $0.11 <br>
Recommended Budget: 60 Clicks <br>
Clicks Used to Find Bombs ($0.01): 44 Clicks <br>
Efficiency: 27 Percent <b><i>below</i></b> budget!
 <br> <br>

{% formfield player.s7 %}
    {% next_button %}

{% endblock %}
