{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Question 2
{% endblock %}

{% block content %}


<b> Scenario A </b> <br>
Total Bombs: 20 <br>
Marked Bombs: 16 <br>
Penalty per unmarked bombs: $0.08 <br>
Recommended Budget: 40 Clicks <br>
Clicks Used to Find Bombs ($0.01): 45 Clicks <br>
Efficiency: 13 Percent <b><i>above</i></b> budget!
 <br> <br>

<b> Scenario B </b> <br>
Total Bombs: 20 <br>
Marked Bombs: 13 <br>
Penalty per unmarked bombs: $0.08 <br>
Recommended Budget: 40 Clicks <br>
Clicks Used to Find Bombs ($0.01): 35 Clicks <br>
Efficiency: 13 Percent <b><i>below</i></b> budget!
 <br> <br>

{% formfield player.s2 %}
    {% next_button %}

{% endblock %}

