{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Question 7
{% endblock %}

{% block content %}


<b> Scenario A </b> <br>
Total Bombs: 30 <br>
Marked Bombs: 20 <br>
Penalty per unmarked bombs: $0.11 <br>
Recommended Budget: 60 Clicks <br>
Clicks Used to Find Bombs ($0.01): 50 Clicks <br>
Efficiency: 17 Percent <b><i>below</i></b> budget!
 <br> <br>

<b> Scenario B </b> <br>
Total Bombs: 30 <br>
Marked Bombs: 24 <br>
Penalty per unmarked bombs: $0.11 <br>
Recommended Budget: 60 Clicks <br>
Clicks Used to Find Bombs ($0.01): 65 Clicks <br>
Efficiency: 8 Percent <b><i>above</i></b> budget!
 <br> <br>

{% formfield player.s3 %}
    {% next_button %}

{% endblock %}
