{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Question 8
{% endblock %}

{% block content %}


<b> Scenario A </b> <br>
Total Bombs: 20 <br>
Marked Bombs: 11 <br>
Penalty per unmarked bombs: $0.11 <br>
Recommended Budget: 40 Clicks <br>
Clicks Used to Find Bombs ($0.01): 36 Clicks <br>
Efficiency: 10 Percent <b><i>below</i></b> budget!
 <br> <br>

<b> Scenario B </b> <br>
Total Bombs: 20 <br>
Marked Bombs: 16 <br>
Penalty per unmarked bombs: $0.08 <br>
Recommended Budget: 40 Clicks <br>
Clicks Used to Find Bombs ($0.01): 43 Clicks <br>
Efficiency: 8 Percent <b><i>above</i></b> budget!
 <br> <br>

{% formfield player.s8 %}
   {% next_button %}

{% endblock %}
