{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Notes
{% endblock %}

{% block content %}


    <div class="card my-3" id="budget">
        <div class="card-body">
            <div class="my-3 card-text">
                Here are the notes you took during period 1.
                {% if public %}
                    Your supervisor will review these notes.
                {% endif %}
                Please refer to them to answer the following questions
                (keep responses 1-2 sentences).


            </div>

            <table class="table table-stripped table-hover">
            <thead>
            <tr>
                <th>Grid #:</th>
                <th>Your note:</th>
                <th>Clicks Efficiency Measure:</th>
            </tr>
            </thead>
                <tbody>
                {% for g in player.get_reversed_grids %}
                    <tr>
                        <td>
                            {{ g.number }}
                        </td>
                        <td>
                            {{ g.note }}
                        </td>
                        <td>
                            {{ g.efficiency }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            </ul>

        </div>
    </div>
    <div class="card my-3" id="budget">
        <div class="card-body">

            {% formfield player.deviation label=deviation %}
            {% formfield player.explanation label=explanation %}
            {% formfield player.adjustment label=adjustment %}
        </div>
    </div>
    {% next_button %}
{% endblock %}
